@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Oswald";
}

.hero {
    background-image: url(./assets/images/BMW-7-3.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 0.625rem;
    padding-bottom: 15rem;
}

nav {
    background-color: rgb(255, 255, 255);
    margin: 0rem 3rem 0rem 3rem;
}

/* .logo {
    height: 4%;
    width: 4%;
} */

.logo {
    height: 3rem;
    align-items: center;
}

.part-1 {
    display: flex;
    align-items: center;
}

.nav title {
    font-weight: 800;
}


.part-2 ul {
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
}



.part-2 ul li {
    list-style: none;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 5rem;
    text-align: center;
    align-items: center;
    position: static;
}


/* description section */

.description-container {
    background-color: #554f4f;
    padding-top: 4rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    margin: 6rem 12rem 0rem 12rem;
    align-items: center;
}


.description {
    text-align: center;
}

/* banner section */

.banner-container {
    height: 80vh;
    display: flex;
    margin-top: 15vh;
    margin-left: 10vw;
    margin-right: 15vw;
    justify-content: center;
    align-items: center;


}

.banner-profile img {
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 6rem;

}

.banner {
    height: 50%;
    width: 60%;
    margin-left: 5vw;
    text-align: center;
}

.banner-title {
    font-size: 2rem;
    font-weight: bold;
}

.banner-sub-title {
    font-size: 2rem;
    font: 800;
}


.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    font-size: 16px;
    padding: 12px 36px 12px 36px;
    border-radius: 10px;
    border: none;

}


.btn-primary:hover {
    background: rgba(13, 8, 44, 0.578);
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}